@import '../../styles/global';

.design-tools{
    width: 240px;
    background-color: #FFF;
    border-radius: 8px;
    height: fit-content;
    position: absolute;
    top: 2vh;
    right: 0;

    &__section{
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        border-bottom: 2px solid #f3f2f1;

        &-title{
            color: grey;
            font-size: small;
        }

        &:nth-of-type(1){
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &:hover{
            cursor: pointer;
            background-color: #dcdcdc;
        }
    }
}