@import '../../styles/global';

.bottom-nav{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
    
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 18vw;

        &-pages{
            font-family: "Raleway";
            background-color: #dcdcdc;
            border-radius: 4px;
            display: flex;
            align-items: center;

            & img{
                height: 16px;
                margin-right: 4px;
            }

            &:hover{
                cursor: pointer;
            }
        }

        &-perspective{
            display: flex;
            align-items: center;

            &-ruler{
                font-family: "Raleway";
                display: flex;
                align-items: center;

                & img{
                    height: 20px;
                    margin-left: 4px;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            &-dropdown{
                margin: 0 2px;
                &-option{
                    
                }
            }
            &-icon{
                height: 20px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    };
}