.nav-bar {
  display: flex;
  background-color: #ffffff;
  width: 600px;
  justify-content: flex-start;
  align-items: center;
  padding-left:2% ;
  
  &__logo {
    height: 20px;
    
  }
  &__div {
    display: flex;
    align-items: center;
    
}&__menu{
    display: flex;
    font-size: .8em;
    text-transform: uppercase;
    margin: 0% 2%;
    margin-top:1%;
    width: auto;
    align-items: center;
    color: gray;
    :hover{
        color: #F71105;
    }
}&__icon{
       :hover{
        color: #F71105;
    }
}
}
