@import '../../styles/global';

.creator{
    background-color: #f3f2f1;
    height: 100vh;
    display: flex;
    align-items: center;

    &__applied-image{
        height: 30vw;
        width: 30vw;
        overflow: hidden;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}